.field-setting {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}

.icon-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.form-render-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  .form-name{
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 0;
    color: #000000;
  }
  .form-description{
    font-size: 0.8rem;
    color: #000000;
  }
}

.option-container{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.configurar-container{
  border: 1px solid #f3f3f3;
  color: #2a2a2a;
  padding: 0.5rem;
  border-radius: 20px;
  cursor: pointer;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
}

.switch-container{
  display: flex;
  align-items: center;
  justify-content: center;

  flex-wrap: nowrap !important;
  height: 50px;


}